/**
 * Eric Meyer's Reset CSS v2.0 (http://meyerweb.com/eric/tools/css/reset/)
 * http://cssreset.com
 */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    font-family: Tahoma;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

@font-face {
    font-family: PFAgoraSlabProItalic;
    src: url(../Fonts/pfagoraslabpro-italic.ttf);
}

@font-face {
    font-family: MyriadProRegular;
    src: url(../Fonts/MyriadPro-Regular.otf);
}


@font-face {
    font-family: ProximaNovaBold;
    src: url(../Fonts/proximanova-bold.otf);
}


.container  {
    max-width: 1280px;
    min-width: 1280px;
    margin: 0 auto; !important;
}

input[type="submit"]:hover, input[type="button"]:hover {
    cursor: pointer;
}


.wrapper {
    max-width: 1024px;
    min-width: 1024px;
    margin: 0 auto;
}

.logo, .phone-form {
    display: inline-block;
    vertical-align: top;
}

.logo {
    width: 500px;
    margin-top: 20px;
    margin-left: 20px;
}

.logo img {
    position: absolute;
}

.phone-form {
    margin: 30px 0 15px;
    float: right;
}

.phone-form p, input{
    display: inline-block;
    font-weight: bold;
    font-family: Tahoma;

}

.phone-form p {
    font-size: 24px;
    line-height: 28px;
    font-weight: bold;
    font-family: Tahoma;
    width: 186px;
}

.phone-form p span {
    color: #222222;
}

.phone-form input {
    background: url("../img/button1.png");
    border: none;
    width: 181px;
    height: 50px;

}

.header-line {
    height: 58px;
    background: #7ec013;
}

h1, h3 {
    font-size: 30px;
    color: white;
    vertical-align: middle;
    text-align: center;
    background: #7ec013;
    padding: 14px 0;
}
h1 {
    text-shadow: 1px 1px 2px black;
}

.first-block {
    background: url(../img/bg-1.jpg) no-repeat 100%;
    height: 379px;
}

.not-take span {
    background: url(../img/Ok.png);
    padding: 4px 18px 3px;
    margin-right: 10px;
}

.top-line  {
    height: 1px;
}

.not-take {
    font-size: 24px;
    font-weight: bold;
    margin-top: 14px;
    display: inline-block;
    vertical-align: top;
}



.first-block .form {
    width: 375px;
    height: 365px;
    border: 7px solid #49700b;
    background: linear-gradient(to top, #c4d3bd, #fefefe);
    background: -webkit-linear-gradient(to top, #c4d3bd, #fefefe);
    display: inline-block;
    margin-left: 155px;
    margin-top: -1px;
}

.first-block .form p {
    font-size: 27px;
    font-family: Arial;
    font-weight: bold;
    text-align: center;
    margin-top: 30px;
}

.first-block .form input[type="text"] {
    display: block;
    width: 270px;
    height: 30px;
    border-radius: 7px;
    border: 1px solid#a5a5a5;
    margin: 30px auto 0;
    font-family: PFAgoraSlabProItalic;
    font-size: 18px;
    color: #474a4d;
    text-indent: 1em;
    font-weight: normal;
    box-shadow: inset 1px 1px 3px 1px #a5a5a5;
}

input[type="text"] {
    font-family: PFAgoraSlabProItalic;
    font-size: 18px !important;
    color: #474a4d !important;
    font-weight: normal;
    box-shadow: inset 1px 1px 3px 1px #a5a5a5;
}

.first-block .form .input-tell {
    font-family: MyriadProRegular !important;
    font-style: italic;

}

.first-block .form input[type="submit"] {
    background: url(../img/button2.png);
    height: 75px;
    width: 285px;
    border: none;
    margin: 25px 45px;

}



.green-line {
    background: #192407;
    height: 155px;
}

.green-line p {
    display: inline-block;
    font-family: Tahoma;
    font-size: 40px;
    color: white;
    vertical-align: top;
    width: 200px;
    margin-top: 20px;
    text-align: center;
}

.green-line span {
    font-size: 18px;
    line-height: 18px;
    width: 125px;
    display: inline-block;
}

.second-block .top-line {
    background: url(../img/line-1.png);
    height: 10px;
}

.second-block .house {
    display: inline-block;
    margin-left: 50px;
    text-align: center;
    width: 280px;
}

.second-block .house p {
    font-size: 18px;
    margin-bottom: 12px;
    font-weight: bold;
}

.second-block .house input {
    background: url(../img/button4.png);
    width: 161px;
    height: 55px;
    border: none;
}

h4 {
    color: #7ec013;
    font-weight: bold;
    font-size: 30px;
    text-align: center;
    margin: 40px 0;
}

.second-block .advantage {
    display: inline-block;
    width: 19%;
    text-align: center;
    vertical-align: top;
}

.second-block .advantage p {
    width: 210px;
    margin: 0 auto;
    font-size: 18px;
    color: #292929;
}

.event {
    width: 1035px;
    height: 430px;
    margin: 55px auto 25px;
    vertical-align: top;
    box-shadow: 0 0 5px 2px grey;

}

.event .line-ff{
    margin: 5px 8px 5px 13px;
    width: 1015px;
    height: 420px;
    position: absolute;
    border-left: 3px dashed #81bd23 ;
    border-left: 400px;

}



.event .left-block {
    display: inline-block;
    margin-left: 40px;
}

.event .left-block p {
    font-size: 33px;
    color: #000000;
    margin-top: 35px;
    margin-bottom: 15px;
}

.event .left-block img {
    display: block;
}

.event .left-block span img {
    display: inline-block;
    margin-left: 50px;
    vertical-align: top;
    margin-top: 10px;
}

.event .left-block p:last-child {
    font-size: 18px;
    color: #292929;
    display: inline-block;
    margin-top: 10px;
}


.event .right-block {
    width: 400px;
    height: 400px;
    background: #e8e8e8;
    display: inline-block;
    vertical-align: top;
    margin: 15px;
    float: right;
}

.event .right-block p {
    font-size: 18px;
    color: #292929;
    text-align: center;
}

.event .right-block .mini-wrapper {
    width: 330px;
    margin: 0 auto;
}

.event .right-block p:first-child {
    font-size: 18px;
    color: #292929;
    margin: 30px 0;
}

.event .right-block p:nth-child(3){
    color: #c81227;
    font-weight: bold;
    font-size: 24px;
    margin: 5px 0 15px;
}

.event .right-block p:nth-child(4) {
    color: #6c6c6c;
}

.event .right-block p:nth-child(6){
    color: #6c6c6c;
    margin-top: 10px;
    margin-bottom: 15px;
}

.event .right-block input {
    width: 328px;
    height: 75px;
    background: url(../img/button5.png);
    margin-top: 25px;
    border: none;
    position: relative;
}

.event-image img{
    vertical-align: top;
    position: absolute;
    margin-left: 57px;
}

.third-block {
    clear: both;
}

.third-block .question {
    margin-top: 25px;
}

.third-block .question div {
    height: 55px;
    width: 960px;
    background: #eaeaea;
    border-radius: 7px;
    color: #202020;
    font-size: 23px;
    display: inline-block;
    position: relative;
    margin: -7px 0 20px 20px;
    vertical-align: top;
}

.third-block .question div:after {
    content: '';
    position: absolute;
    left: -18px;
    top: 23px;
    border: 10px solid transparent;
    border-right: 10px solid #eaeaea;
    border-bottom: 10px solid #eaeaea;
}


.third-block .question div p {
    vertical-align: top;
    margin: 16px 20px;
    font-size: 23px;
}

.third-block .question p {
    margin-left: 85px;
    line-height: 20px;
    color: #515151;
    font-size: 16px;
}
.third-block .internet-project-form {
    margin-bottom: 30px;
}


.third-block .internet-project-form p:first-child {
    position: absolute;
    display: inline-block;
    width: 29%;
    left: 60%;
    margin-left: -24%;
    top: -20px;
    color: #49700b;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    background: #ffffff;
    padding-top: 0;
}

.third-block .internet-project-form .left-block {
    padding-top: 45px;
}

.third-block .internet-project-form .left-block p {
    display: inline-block;
    vertical-align: top;
    width: 255px;
    padding-left: 20px;
    padding-top: 25px;
    color: #292929;
    font-size: 24px;
    font-weight: normal;
    text-align: left;
    font-family: Arial;
}

.third-block .internet-project-form input[type="text"] {
    width: 255px;
}


.third-block .internet-project-form .right-block {
    padding: 35px 0 40px 25px;
}


.house-block {
    position: relative;
    text-align: center;
    background: #e9e9e9;
    padding: 15px 0;
    margin-top: 35px;
    border-bottom: 5px solid #fff;
}

.house-block img {
    margin-right: 20px;
}

.house-block img:last-child {
    margin-right: 0;
}

.house-block:before {
    content: '';
    position: absolute;
    width: 50%;
    height: 10%;
    bottom: 8px;
    left: 20px;
    box-shadow: 0 20px 6px rgba(0, 0, 0, 0.5);
    transform: rotate(-1deg);
    z-index: -10;
}

.house-block:after {
    content: '';
    position: absolute;
    width: 46%;
    height: 10%;
    bottom: 8px;
    right: 20px;
    box-shadow: 0 20px 6px rgba(0, 0, 0, 0.5);
    transform: rotate(1deg);
    z-index: -10;
}

.house-desc {
    display: inline-block;
    margin-top: 30px;
    width: 32%;
    vertical-align: top;
}

.house-desc img {
    margin-right: 15px;
    vertical-align: top;
    display: inline-block;
}

.house-desc p {
    display: inline-block;
    color: #292929;
    font-size: 18px;
}



.services {
}

.service {
    display: inline-block;
    width: 19%;
    text-align: center;
    vertical-align: top;
    padding-top: 10px;

}

.service img {

}

.service p {
    color: #292929;
    font-size: 18px;
}


.hww-item {
    display: inline-block;
    vertical-align: top;
    margin-top: 30px;
    width: 49%;

}

.hww-item img {
    display: inline-block;
    vertical-align: top;
}

.hww-item p {
    display: inline-block;
    padding: 0 20px 0 10px;
    color: #292929;
    font-size: 16px;
    line-height: 18px;
    width: 50%;
}

.hww-item span {
    display: inline-block;
    color: #000;
    font-size: 18px;
    font-weight: bold;
    padding: 5px 0;
}

.internet-project-form {
    position: relative;
    margin-top: 50px;
    padding: 0 30px;
    border: 7px solid #49700b;
    background: #ffffff;
    background: -moz-linear-gradient(top,  #ffffff 0%, #c4d3be 70%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(70%,#c4d3be));
    background: -webkit-linear-gradient(top,  #ffffff 0%,#c4d3be 70%);
    background: -o-linear-gradient(top,  #ffffff 0%,#c4d3be 70%);
    background: -ms-linear-gradient(top,  #ffffff 0%,#c4d3be 70%);
    background: linear-gradient(to bottom,  #ffffff 0%,#c4d3be 70%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#c4d3be',GradientType=0 );
}

.quad-block .internet-project-form p:first-child {
    position: absolute;
    display: inline-block;
    width: 70%;
    left: 50%;
    margin-left: -35%;
    top: -20px;
    color: #49700b;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    background: #ffffff;
    padding-top: 0;
}

.internet-project-form p {
    color: #f50c00;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    padding-top: 15px;
}


.internet-project-form .left-block {
    float: left;
    padding-top: 50px;
}

.internet-project-form .left-block p {
    display: inline-block;
    vertical-align: top;
    width: 235px;
    padding-left: 35px;
    color: #292929;
    font-size: 16px;
    font-weight: normal;
    text-align: left;
}

.internet-project-form .right-block {
    display: inline-block;
    width: 260px;
    padding: 20px 0 25px 35px;
}

.internet-project-form input[type="text"] {
    font-size: 16px;
    font-style: italic;
    padding: 5px 0 5px 10px;
    margin-bottom: 10px;
    border-radius: 6px;
    -webkit-box-shadow: inset 1px 1px 2px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: inset 1px 1px 2px 0px rgba(0,0,0,0.75);
    box-shadow: inset 1px 1px 2px 0px rgba(0,0,0,0.75);
    border: none;
    text-indent: 0; !important;
    width: 255px;
}


.last-block {
    clear: both;
}

.last-block .internet-project-form {
    clear: both;
}

.last-block .internet-project-form p:first-child {
    position: absolute;
    display: inline-block;
    width: 80%;
    left: 35%;
    margin-left: -24%;
    top: -20px;
    color: #49700b;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    background: #ffffff;
    padding-top: 0;
}

.last-block .internet-project-form {
    clear: both;
    margin-top: 45px;
}

.last-block .internet-project-form .left-block {
    padding-top: 45px;
}

.last-block .internet-project-form .left-block p {
    display: inline-block;
    vertical-align: top;
    width: 255px;
    padding-left: 20px;
    padding-top: 25px;
    color: #292929;
    font-size: 24px;
    font-weight: normal;
    text-align: left;
    font-family: Arial;
}

.last-blockk .internet-project-form input[type="text"] {
    width: 255px;
}


.last-block .internet-project-form .right-block {
    padding: 35px 0 40px 25px;
}



.internet-project-form input[type="submit"] {
    background: url(../img/button3.png);
    height: 75px;
    width: 189px;
    border: none;
    margin-top: 40px;
    margin-left: 60px;
}




.last-block .partners img {
    float: left;
    padding: 10px 0;
}

.more-questions {
    clear: both;
}





.footer .phone-form p {
    color: #030303;
}


/*==================================================TIMER======================================*/
#day {display: none;}
#hour,#min,#sec {
    width: 87px;
    height: 50px;
    display: inline-block;
    background: url(../img/bg-timer.png);
    vertical-align: top;
}
#hour {margin-left: 15px;}
#min {margin-left: 15px;}
#sec {margin-left: 15px;}
#clock {
    margin-top: 10px;
    height: 50px;
    width: 330px;
}
#clock p {display: inline-block; font-weight: bold; font-size: 27px;  color: #00a0cf; font-family: ProximaNovaBold;}
#stop {
    color: #c81227;
    font-size: 18px;
    text-align: center;
    font-weight: 700;
    display: block;
}

#hour0,#min0,#sec0 {
 margin:11px 20px 0 10px !important;
}

#hour0,#min0,#sec0,#hour1,#min1,#sec1 {
    width: 18px;
}

.last-time span{
    width: 33%;
    display: inline-block;
}

.clear {
    clear: both;
}